<h2> <%= @task.title %> </h2>
<p> Details: <%= @task.details %> </p>
<p> Completed: <%= @task.completed %> </p>

<%= link_to "back to list", tasks_path %>

<%= link_to "edit this task", task_edit_path %>
